// Layout variables partial

$section-padding: 40px 0;

section.intro, section.features-extra, section.rsvp {
	background: $section-light;
}

section.features, section.events, section.blog {
	background: $section-dark;
}

section.flowers {
	// background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/flower-pattern.svg');
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('../img/flower-pattern-full.png') repeat;
	background-size: contain;
}